# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
desktop.ini