# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.egg-info/

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
Thumbs.db
desktop.ini
.DS_Store